<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Mighty Ducks Hockey League</title>
    <link rel="stylesheet" href="../css/styles.css" >
    <meta name="description" content="Mighty Ducks Hockey League" >
    <link rel="icon" type="image/png" href="../images/favicon.png" >
  </head>
  <body>
    <header>
      <nav>
        <a href="./index.html" class="logo">
          <img src="../images/logo.png" alt="logo" />
        </a>
        <ul>
          <li class=""><a class="" href="../index.html">Home</a></li>
          <li class="active"><a href="about.html">About</a></li>
          <li class=""><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1 class="title_about">Contact</h1>
      <div class="container">
        <div class="section_img contact">
          <img src="../images/hock3.jpg" alt="" >
        </div>
        <div class="section_info contact">
          <p>
            Please email us at
            <a href="mailto:mdhl@chihockey.org">mdhl@chihockey.org</a>
          </p>
          <p>We reply to your email as soon as we can.</p>
        </div>
      </div>
    </main>
    <footer>
      <div>
        <p>
          Mighty Ducks Hockey League
          <br >
          Copyright 1994 - 2023. All Rights Reserved
        </p>
      </div>
    </footer>
  </body>
</html>
